<template name="login">
    <div class="login-wrapper">
        <form class="login-form">
            <h4>Вход в систему</h4>
            <fieldset class="form-group">
                <label for="login">Имя пользователя:</label>
                <input class="form-control" name="login" type="text" id="login" autocomplete="off" placeholder="user">
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Пароль</label>
                <input class="form-control" name="password" type="password" id="password" autocomplete="off" placeholder="pass">
            </fieldset>
            <button class="btn btn-success">Вход</button>
        </form>
    </div>
</template>