<template name="addUser">
    <h2>Добавление должности</h2>
    <br><br>
    <form class="adduser-form">
        <fieldset class="form-group">
            <label for="login">Логин:</label>
            <input class="form-control" autocomplete="off" type="text" id="login" placeholder="user">
        </fieldset>
        <fieldset class="form-group">
            <label for="password">Пароль:</label>
            <input class="form-control" autocomplete="off" type="password" placeholder="password" id="password">
        </fieldset>
        <fieldset class="form-group">
            <label for="role">Тип:</label>
            <select class="form-control" id="role">
                <option value="staff">Кладовщик</option>
                <option value="head">Распред работ</option>
                <option value="engineer">Инженер по ТБ</option>
                <option value="admin">Администратор</option>
            </select>
        </fieldset>
        <button class="btn btn-success">Сохранить</button>
    </form>
</template>