.first-row{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px;
    font-style: italic;
}

.underlined{
    text-decoration: underline;
}

.header{
    text-align: center;
}

.card-param{
    font-style: italic;
}

.card-value{
    font-weight: bold;
}
@media print{
    .print-card {
        margin-top: 0;
    }

}
.next-page{
    page-break-before: always;
}

.print-card{
    margin-top:60px;
    font-size: 0.8em;
}